@charset "utf-8";
/* CSS Document admin pisola*/
html {
    position: relative;
    min-height: 100%;
}
body {
    /*background-color: #D0D7C0;*/
    background: url('../img/bg.jpg') repeat;
    margin-bottom: 10vh;/* Margin bottom de la hauteur du footer fixe */
    margin-top: 8vh;
}

.container-fluid {
    padding-left: 0px;
}

/*NAV*/
nav{
    background-color: #D4A5A5;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-fixed-top {
    background-color: #D4A5A5;
    border-color: #D4A5A5;
}
.navbar-default{
    background-color: #D4A5A5;
}

a {
    color: #000;
}a:hover {
    color: #29352f;
    background: #a5d4bd;
}

.geometrique {
    background-image: url(../img/geometrique.png);
    /*height: 100%;*/
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
}

.fond_fonce {
    background: #D0D7C0;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    opacity: 0.9;
    color: #665C4A;
}

/*pour le menu*/
/*.sr-only {
    background: #665C4A;
}*/

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 6vh;
    background-color: #D4A5A5;
    margin-top: 2vh;
}
